.heading{
    color: blue;
text-decoration: line-through;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: yellow;
}

body{
     background-color: rgb(173, 24, 49);

}
 button{
     background-color: blue;
     color: white;
 }

  div {

     background-color: aqua;
     height: 100px;
      width: 120px;
      margin: 2px;
      border-radius: 2px;
      justify-content: center;
      text-align: center;
      border-color: rgb(161, 41, 41);
      border: 112px;

  }